*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Sniglet', cursive;
}

.app-cnt{
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navigation */

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(51, 175, 175);
}

.nav-logo{
  margin-left:2em;
  font-size: 23px;
  flex-grow: .7;
}

.nav-logo a{
  text-decoration: none;
  color:white;
}

.nav-links{
  display: flex;
}

.nav-link{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-link:hover{
  background-color: rgb(81, 194, 194);
}

.nav-link-active{
  border-bottom: 5px solid rgb(16, 111, 189);
}

.nav-link-icon{
  margin-left:.3em;
  font-size: 25px;
}

.nav-link a{
  padding:1.8em 1.5em;
  font-size: 17px;
  display: flex;
  text-decoration: none;
  color:white
}

.main{
  width:100%;
}

/* Page Title */

.page-title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
}

.page-title h1{
  font-size: 34px;
  letter-spacing: 1.8px;
  border-bottom: 3px solid rgb(51, 175, 175);
}

/* Add Record */

.add-record-cnt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}

.add-record{
  display: flex;
  justify-content: center;
  width:90%;
}

.add-record-btn-cnt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.add-record-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width:8em;
  height: 3.5em;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1.4px;
  border: 3px solid  rgb(51, 175, 175);
  transition: .4s;
  box-shadow: 0 5px 16px rgba(0,0,0,0.4);
}

.add-record-btn-icon{
  margin-right:.5em;
}

.add-record-btn:hover{
  transform: scale(1.05);
  color:white;
  transition: .3s;
  background-color: rgb(51, 175, 175);      
}

.add-record-btn:first-child{
  margin:2em;
}

.add-record-btn + .add-record-btn{
  margin: 2em ;
}

/* Modal */

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

.modal-close-btn{
    cursor: pointer;
    position: absolute;
    top:7px;
    right:7px;
  }

.modal-close-btn:hover{
    opacity: 0.6;
}

.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  width: 60%;
  padding:2em;
}

.modal-title{
  margin-top:.5em;
  margin-bottom:.8em;
  font-weight: 700;
  font-size: 25px;
  opacity: 0.6;
}

.modal-feelings-title{
  margin-bottom: 1em;
}

.modal-checkbox-control{
  display: flex;
  align-items: center;
  width:140px;
}

.modal-checkbox-control label{
  margin-left: 1em;
}

.form-input-control{
  margin-top: 1em;
  min-width: 90%;
  max-width: 90%;
  min-height: 100px;
  max-height: 300px;
  padding:.6em .7em;
}

.form-btn-control{
  background-color: rgb(51, 175, 175);
  color:white;
  border:none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  width:50%;
  margin-top: 1.5em;
  padding:1em 2em;
  cursor: pointer;
  display: block;
}

.form-btn-control:hover{
  background-color: rgb(76, 196, 196);
}

/* ADD NEW RECORD  */

.add-new-record-btn-cnt{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-new-record-btn{
  background-color: rgb(121, 197, 127);
  cursor: pointer;
  border:none;
  color:white;
  width: 250px;
  font-size:22px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  padding:.9em 3em;
}

.add-new-record-btn:hover{
  background-color: rgb(149, 204, 156);
}

.add-new-record-message{
  position: absolute;
  top:100px;
}

/* Record preview */

.record-preview-cnt{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 2em;
}

.record-preview-cnt h1{
  font-weight: 600;
  margin:2em;
}

.record-preview{
  width:90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.record-preview-element{
  width:25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.record-preview-title{
  letter-spacing: 1.5px;
  height: 50px;
  position: relative;
  cursor:pointer;
}

.record-preview-title:hover .record-preview-edit-icon{
  position: absolute;
  transition: .3s;
  display: block;
  right: -30px;
  top:0px;
  opacity: 1;
}

.record-preview-edit-icon{
  opacity: 0;
  display: block;
}

.record-preview-text{
  margin-top: 1em;
  width:80%;
  word-wrap:break-word;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

/* Records */

.records-cnt{
  width:100%;
  margin-bottom:3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.records{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:90%;
}

.record{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: center;
  width:100%;
  margin:.7em 0em;
}

.record-date{
padding: .5em 1em;
margin-bottom: .4em;
}

.record-content-columns-cnt{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: .2em;
  padding:.7em .5em;
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 1000px;
}

.record-content-column{
  padding: 0em .6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:22%;
  word-wrap:break-word;
}

.record-content-column h3{
  font-size: 16px;
  margin-bottom:1em;
}

.record-content-column p{
  margin-bottom: .5em;
  font-size: 12px;
}

.record-date{
  font-size: 12px;
  color:white;
  background-color: rgb(51, 175, 175);
}

.record-feeling-text{
  font-weight: 600;
  letter-spacing: 1px;
}

.delete-column{
  width:15%;
  height: 100%;
  font-size:25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-delete{
  background-color: white;
  border:none;
  cursor: pointer;
  transition: .5s;
}

.record-delete:hover{
  transition: .2s;
  color:rgb(250, 71, 71);
}

.record-delete-icon{
  font-size: 25px;
}

/* Analyze */

.analyze-chart-cnt{
  width:100%;
  display: flex;
  justify-content: center;
}

/* Options */

.options-cnt{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options-delete-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding:1em 2em;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.4px;
  border: 3px solid rgb(250, 71, 71);
  transition: .4s;
  box-shadow: 0 5px 16px rgba(0,0,0,0.4);
}

.options-delete-btn:hover{
  transform: scale(1.05);
  color:white;
  transition: .3s;
  background-color: rgb(250, 71, 71);      
}

.options-delete-btn-icon{
  margin-left:1em;
}

.records-delete-text{
  margin-top:1.5em;
}

/* Approval Modal */

.approval-modal{
  visibility:hidden;
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  opacity:0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

.approval-modal.show{
  opacity:1;
  transition: .35s ease;
  visibility: visible;
} 

.approval-modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  width: 60%;
  padding:2em;
}

.approval-modal-text-cnt{
  display: flex;
  padding-top: 1em;
  padding-bottom:4em;
  text-align: center;
  height: 50%;
  width:100%;
} 

.approval-modal-text{
  width: 100%;
}

.approval-modal-bttm-cnt{
  display: flex;
  height: 50%;
  width:100%;
}

.approval-modal-bttm-left-cnt{
  display: flex;
  padding:1em;
  justify-content: center;
  height: 50%;
  width:50%;
}

.approval-modal-bttm-left-cnt button{
  background-color: rgb(250, 71, 71);
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border:none;
  padding:1.5em 4em;
  color:white
}

.approval-modal-bttm-right-cnt{
  display: flex;
  padding:1em;
  justify-content: center;
  height: 50%;
  width:50%;
}

.approval-modal-bttm-right-cnt button{
  background-color: rgb(121, 197, 127);
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border:none;
  padding:1.5em 4em;
  color:white
}

.approval-no button:hover, .approval-yes button:hover{
  cursor: pointer;
  opacity: 0.9;
}

.approval-modal-close-btn{
  position:absolute;
  cursor: pointer;
  border:none;
  background-color: white;
  font-size: 18px;
  top:10px;
  right:10px;
}

/* NoContentHere */

.no-content-here{
  width: 100%;
  text-align: center;
}

